# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Virtual Environment
venv/
env/
.env
.venv/

# Database
*.db
*.sqlite3

# Distribution
dist/
build/
*.egg-info/

data/images/
output/
logs/
coverage/
.ruff_cache/
htmlcov/
site/
.pytest_cache/
.coverage.**
.coverage**